$base-color: #b86106;
$base-light-color: rgb(231, 233, 244);
$secondary-color: #132b93;
$color-brown: #8a4b20;
$orange: #fe9000;
$light-blue: #e7e9f4;
$light-orange: rgba(184, 97, 16, 0.2);

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

@font-face {
    font-family: Montserrat-Light;
    src: url("/fonts/Montserrat-Light.ttf") !important;
}

@font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url("/fonts/Montserrat-SemiBold.ttf") !important;
    font-weight: 700;
}

@font-face {
    font-family: Montserrat-Bold;
    src: url("/fonts/Montserrat-Bold.ttf") !important;
    font-weight: 800;
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url("/fonts/Montserrat-ExtraBold.ttf") !important;
    font-weight: 900;
}
* {
    font-family: "Montserrat", sans-serif;
}
.font-1 {
    font-family: "Montserrat", sans-serif;
}
.text-bold {
    font-family: Montserrat-Bold, serif;
}

.text-semi-bold {
    font-family: Montserrat-SemiBold, serif;
}

.text-extra-bold {
    font-family: Montserrat-ExtraBold, serif;
}

.bg-light-brown {
    background-color: $base-light-color;
}

.h-100 {
    height: 100px !important;
}

.text-brown {
    color: $color-brown !important;
}
.text-orange {
    color: $orange;
}
.text-dark-blue {
    color: $secondary-color;
}
.text-blue {
    color: $secondary-color !important;
}

.menu {
    li {
        a {
            font-size: 20px !important;
        }
    }
}

.btn-normal {
    width: 150px;
}

.btn-brown {
    background-color: $base-color;
    color: white;
    padding: 10px 25px;
}

.btn-white {
    background-color: white;
    color: $base-color;
    padding: 10px 25px;
}

.box-yellow {
    // background-color: $base-light-color;
    // height: 75%;
    // border-radius: 5px;
    font-size: 30px;
    padding: 20px 100px 0 40px;
    line-height: 35px;
}
.btn-search {
    padding: 17px 20px;
    background-color: $base-color;
    color: #fff;
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.search-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.navbar {
    padding: 0;
}
.navbar-nav {
    .nav-item {
        .nav-link {
            padding: 45px 15px;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;
            &:hover {
                background-color: $color-brown;
                color: white !important;
                -webkit-transition: 0.2s all;
                transition: 0.2s all;
            }
        }
    }
}
.btn-align {
    padding-top: 4%;
}
.navbar-brand {
    font-size: 30px;
    color: $color-brown !important;
    font-weight: bold;
    font-family: "Montserrat";
    text-transform: uppercase;
}
.circle {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    display: inline-block;
    -webkit-box-shadow: 0 8px 20px 0 #b7b7b7;
    box-shadow: 0 8px 20px 0 #b7b7b7;
    // padding: 90px 50px;
    border: 1px solid $base-color;
    display: table;
    position: relative;
    margin: 0 auto;

    .circle-inner {
        vertical-align: middle;
        display: table-cell;
    }
    .counter {
        font-size: 50px;
    }

    .title {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        white-space: nowrap;
    }
}

.circle-sm {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid $orange;
    display: inline-block;
    // -webkit-box-shadow: 0 8px 20px 0 #b7b7b7;
    // box-shadow: 0 8px 20px 0 #b7b7b7;

    p {
        font-size: 20px;
    }
}
.circle-blue-sm {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid $secondary-color;
    display: inline-block;
    // -webkit-box-shadow: 0 8px 20px 0 #b7b7b7;
    // box-shadow: 0 8px 20px 0 #b7b7b7;

    p {
        font-size: 20px;
    }
}

.box {
    // -webkit-box-shadow: 0 8px 20px 0 #b7b7b7;
    // box-shadow: 0 8px 20px 0 #b7b7b7;
    border-radius: 5px;
    padding: 15px;
    // margin: 10px;

    .header {
        font-size: 20px;
        font-weight: bold;
        color: $base-color;
        display: inline-block;
        width: 140px;
        position: relative;
        top: -30px;
    }

    .box-hr {
        width: 10%;
        border: 5px dashed $base-color;
    }
}
.blue-box {
    background-color: $light-blue;
    p {
        color: $secondary-color;
    }
}
.brown-box {
    background-color: $light-orange;
    .header {
        color: $secondary-color !important;
    }
    p {
        color: $color-brown;
    }
}

.brown-circle {
    padding: 15px 15px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: $base-color;
    display: inline-block;
}

.number-circle {
    height: 50px;
    width: 50px;
    padding: 0 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    border: 1px solid $base-color;

    p {
        font-size: 20px;
    }
}

.light-pink-row {
    background-color: $base-light-color;

    .title {
        font-size: 57px;
        letter-spacing: 2px;
        white-space: nowrap;
        color: $orange;
        // margin-left: 180px;
    }

    .desc {
        font-size: 20px;
        line-height: 25px;
        // margin-top: 35px;
        padding-left: 30px;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
}

.carousel-control-next-icon:after {
    content: ">";
    font-size: 28px;
    color: $base-color;
}

.carousel-control-prev-icon:after {
    content: "<";
    font-size: 28px;
    color: $base-color;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.input-border {
    // border: 2px solid #ffc400;
    background-color: $light-blue;
}

.fs-14 {
    font-size: 14px !important;
}

.color-999 {
    color: #999999;
}

.landing-left {
    background-image: url("/images/background.png");
    background-size: cover;
}

.landing-header {
    font-size: 54px;
}

.landing-header-2 {
    font-size: 42px;
    padding-top: 17px;
}

.landing-desc {
    font-size: 18px;
    line-height: 28px;
    margin-left: 40px;
    padding-top: 10px;
}

.btn-booknow {
    width: 250px;
    height: 100px;
    font-size: 32px;
    margin-top: 10px;
}

.landing-p {
    font-size: 32px;
}

.title {
    font-size: 28px;
    letter-spacing: 2px;
}

.title-2 {
    font-size: 34px;
    letter-spacing: 1px;
}
.about-sec {
    background-color: #e7e9f4;
    margin-top: 52px;
    h3 {
        margin-right: 4%;
    }
}
.about-desc {
    letter-spacing: 1px;
}

.step {
    .counter {
        font-size: 42px;
        margin-top: -8px;
        text-align: center;
    }

    .title {
        font-size: 38px;
        white-space: nowrap;
    }

    .desc {
    }
}

.pay {
    img {
        width: 60px;
    }

    .number-circle-p {
        padding: 16px 13px;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        display: inline-block;
        background-color: white;
        border: 1px solid $base-color;
    }
}

.card {
    h5 {
        font-size: 16px;
    }
}

.btn-all {
    padding: 18px 60px;
}

input,
select {
    height: 70px !important;
}

footer {
    background-color: $light-blue;
    padding: 40px 0 20px;

    .title-2 {
        font-size: 28px;
    }
}

.form {
    input[type="text"],
    input[type="password"],
    input[type="email"] {
        background-color: transparent;
        line-height: 1.5em;
        border: 0;
        display: block;
        width: 100%;
        height: 40px !important;
        border-bottom: 1px solid $base-color;
        background: -webkit-gradient(
            linear,
            left top, left bottom,
            color-stop(96%, rgba(255, 255, 255, 0)),
            color-stop(4%, $base-light-color)
        );
        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 96%,
            $base-light-color 4%
        );
        background-position: -100em 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        -webkit-transition: 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) all;
        transition: 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) all;

        &:focus,
        &:valid {
            background-position: 0 0;

            ~ label {
                color: $base-color;
                font-size: 0.875em;
                top: -1.5em;
            }
        }

        &:focus {
            outline: none;
        }
    }

    label {
        display: block;
        padding-left: 15px;
        text-indent: -15px;
    }

    input {
        width: 13px;
        height: 13px;
        padding: 0;
        margin: 0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
        *overflow: hidden;
    }
}

.item-box {
    width: 300px;
    height: 150px;
    border-radius: 5px;
}

.inner-box {
    height: 100%;
    padding: 40px;
}

.border-blue {
    border: 1px solid $secondary-color;
}

.border-white {
    border: 1px solid white;
}

.bg-blue {
    background-color: $secondary-color;
}
.bg-brown {
    background-color: $base-color;
}

.big-number {
    font-size: 200px;
    line-height: 100px;
}

.stroke-blue {
    -webkit-text-stroke: 1px $secondary-color;
}

.current-inner-box {
    height: 93%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;

    .service-type {
        text-transform: uppercase;
        letter-spacing: 10px;
        color: white;
    }
}

.circle-service {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    -webkit-box-shadow: 0 8px 20px 0 #b7b7b7;
    box-shadow: 0 8px 20px 0 #b7b7b7;
    padding: 85px 10px;
    border: 1px solid $base-color;
}

.nav-link {
    white-space: nowrap !important;
}

/*changes list css*/
.img-intro {
    max-width: 450px !important;
}
input,
select {
    height: 60px !important;
}
.carousel-control-next {
    right: -10%;
}
.carousel-control-prev {
    left: -10%;
}

@media (max-width: 991px) {
    .navbar {
        padding: 15px;
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                padding: 20px 15px;
            }
        }
    }
    .landing-desc {
        font-size: 18px;
        line-height: 24px;
        margin-left: 40px;
        padding-top: 48px;
        margin-right: 140px;
    }
}

@media (max-width: 667px) {
    .light-pink-row {
        .title {
            font-size: 22px;
        }
        .desc {
            font-size: 14px;
        }
    }
    .carousel-control-next {
        right: -3%;
    }
    .carousel-control-prev {
        left: -3%;
    }
    .navbar {
        padding: 15px;
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                padding: 20px 15px;
            }
        }
    }
    .landing-header {
        font-size: 40px;
    }
    .landing-desc {
        margin-left: 15px;
        padding-top: 0px;
        margin-right: 0px;
    }
    .landing-header-2 {
        font-size: 30px;
    }

    .circle {
        margin-bottom: 50px;
    }
    .box-yellow {
        font-size: 20px;
        padding: 15px;
        line-height: 35px;
    }
    .box-inner {
        margin: 7px 14px;
    }
    .title {
        text-align: center;
    }
    .title-2 {
        text-align: center;
    }
}
