@media (min-width: 320px) {
    footer{
        margin-top: 26%;
    }
    .nav.nav-tabs {
        padding-bottom: 25px;
        padding-top: 25px;
        float: left;
        display: block;
        margin-right: 20px;
        border-bottom: 0;
        border-right: 1px solid #ddd;
        padding-right: 15px;
        margin-top: -36px;
    }
    .nav-tabs .nav-link {
        padding-left: 70px;
        border: 1px solid transparent;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        background: #faf8f1;
        height: 50px;
        line-height: 30px;
        color: #8a4b20;
    }

    .nav-tabs .nav-link.active {
        color: white;
        background-color: #8a4b20 !important;
        border-color: transparent !important;
    }
    .nav-tabs .img_accountTab {
        margin-top: 6px !important;
        color: white;
        border-radius: 50%;
        background-color: white !important;
    }

    .nav-tabs .nav-link {
        margin-bottom: 3px !important;
        border-left: none !important;
        width: 200px;
        border: 1px solid transparent;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .tab-content > .active {      
        display: block;
        background: #faf8f1;
        padding: 30px 30px 30px 30px;
        border: #ddd 1px solid;
    }
    .nav.nav-tabs {
        float: left;
        display: block;
        margin-right: 20px;
        border-bottom: 0;
        border-right: 1px solid transparent;
        padding-right: 15px;
    }
    .img_accountTab {
        margin-top: 6px;
        height: 38px;
        width: 38px;
        position: absolute;
        z-index: 1;
        margin-left: 10px;
    }
    input[type="text"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    input[type="password"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    input[type="email"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    .accountHeading_main {
        font-size: 20px !important;
        margin-top: 20px !important;
    }
    .subName {
        margin-top: -20px !important;
    }
    .accountHome{
        margin-top: 34px;
        margin-left: -110px;
        margin-bottom: 20px;
    }
    .accountConfirm{
        float: right;
    }
    .accountTag_name{
        padding-top: 14px;
    }
    .accoountMain_head{
        margin-top: 30px;
    }
    .accountTab_name{
        margin-top: -10px;
    }
}







@media (min-width: 480px) {
    footer{
        margin-top: 26%;
    }
    .nav.nav-tabs {
        padding-bottom: 25px;
        padding-top: 25px;
        float: left;
        display: block;
        margin-right: 20px;
        border-bottom: 0;
        border-right: 1px solid #ddd;
        padding-right: 15px;
        margin-top: -36px;
    }
    .nav-tabs .nav-link {
        padding-left: 70px;
        border: 1px solid transparent;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        background: #faf8f1;
        height: 50px;
        line-height: 30px;
        color: #8a4b20;
    }

    .nav-tabs .nav-link.active {
        color: white;
        background-color: #8a4b20 !important;
        border-color: transparent !important;
    }
    .nav-tabs .img_accountTab {
        margin-top: 6px !important;
        color: white;
        border-radius: 50%;
        background-color: white !important;
    }

    .nav-tabs .nav-link {
        margin-bottom: 3px !important;
        border-left: none !important;
        width: 200px;
        border: 1px solid transparent;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .tab-content > .active {      
        display: block;
        background: #faf8f1;
        padding: 30px 30px 30px 30px;
        border: #ddd 1px solid;
    }
    .nav.nav-tabs {
        float: left;
        display: block;
        margin-right: 20px;
        border-bottom: 0;
        border-right: 1px solid transparent;
        padding-right: 15px;
    }
    .img_accountTab {
        margin-top: 6px;
        height: 38px;
        width: 38px;
        position: absolute;
        z-index: 1;
        margin-left: 10px;
    }
    input[type="text"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    input[type="password"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    input[type="email"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    .accountHeading_main {
        font-size: 20px !important;
        margin-top: 20px !important;
    }
    .subName {
        margin-top: -20px !important;
    }
    .accountHome{
        margin-top: 34px;
        margin-left: -110px;
        margin-bottom: 20px;
    }
    .accountConfirm{
        float: right;
    }
    .accountTag_name{
        padding-top: 14px;
    }
    .accoountMain_head{
        margin-top: 30px;
    }
    .accountTab_name{
        margin-top: -10px;
    }

}






@media (min-width: 768px) {
    .nav.nav-tabs {
        padding-bottom: 25px;
        padding-top: 25px;
        float: left;
        display: block;
        margin-right: 20px;
        border-bottom: 0;
        border-right: 1px solid #ddd;
        padding-right: 15px;
        margin-top: -36px;
    }
    .nav-tabs .nav-link {
        padding-left: 70px;
        border: 1px solid transparent;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        background: #faf8f1;
        height: 50px;
        line-height: 30px;
        color: #8a4b20;
    }

    .nav-tabs .nav-link.active {
        color: white;
        background-color: #8a4b20 !important;
        border-color: transparent !important;
    }
    .nav-tabs .img_accountTab {
        margin-top: 6px !important;
        color: white;
        border-radius: 50%;
        background-color: white !important;
    }

    .nav-tabs .nav-link {
        margin-bottom: 3px !important;
        border-left: none !important;
        width: 200px;
        border: 1px solid transparent;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .tab-content > .active {      
        display: block;
        background: #faf8f1;
        padding: 30px 30px 30px 30px;
        border: #ddd 1px solid;
    }
    .nav.nav-tabs {
        float: left;
        display: block;
        margin-right: 20px;
        border-bottom: 0;
        border-right: 1px solid transparent;
        padding-right: 15px;
    }
    .img_accountTab {
        margin-top: 6px;
        height: 38px;
        width: 38px;
        position: absolute;
        z-index: 1;
        margin-left: 10px;
    }
    input[type="text"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    input[type="password"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    input[type="email"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    .accountHeading_main {
        font-size: 20px !important;
        margin-top: 20px !important;
    }
    .subName {
        margin-top: -20px !important;
    }
    .accountHome{
        margin-top: 34px;
        margin-left: -110px;
        margin-bottom: 20px;
    }
    .accountConfirm{
        float: right;
    }
    .accountTag_name{
        padding-top: 14px;
    }
    .accoountMain_head{
        margin-top: 30px;
    }
    .accountTab_name{
        margin-top: -10px;
    }
}




@media (min-width: 1024px) {
    .nav.nav-tabs {
        padding-bottom: 25px;
        padding-top: 25px;
        float: left;
        display: block;
        margin-right: 20px;
        border-bottom: 0;
        border-right: 1px solid #ddd;
        padding-right: 15px;
        margin-top: -36px;
    }
    .nav-tabs .nav-link {
        padding-left: 70px;
        border: 1px solid transparent;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        background: #faf8f1;
        height: 50px;
        line-height: 30px;
        color: #8a4b20;
    }

    .nav-tabs .nav-link.active {
        color: white;
        background-color: #8a4b20 !important;
        border-color: transparent !important;
    }
    .nav-tabs .img_accountTab {
        margin-top: 6px !important;
        color: white;
        border-radius: 50%;
        background-color: white !important;
    }

    .nav-tabs .nav-link {
        margin-bottom: 3px !important;
        border-left: none !important;
        width: 200px;
        border: 1px solid transparent;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .tab-content > .active {      
        display: block;
        background: #faf8f1;
        padding: 30px 30px 30px 30px;
        border: #ddd 1px solid;
    }
    .nav.nav-tabs {
        float: left;
        display: block;
        margin-right: 20px;
        border-bottom: 0;
        border-right: 1px solid transparent;
        padding-right: 15px;
    }
    .img_accountTab {
        margin-top: 6px;
        height: 38px;
        width: 38px;
        position: absolute;
        z-index: 1;
        margin-left: 10px;
    }
    input[type="text"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    input[type="password"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    input[type="email"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    .accountHeading_main {
        font-size: 20px !important;
        margin-top: 20px !important;
    }
    .subName {
        margin-top: -20px !important;
    }
    .accountHome{
        margin-top: 34px;
        margin-left: -110px;
        margin-bottom: 20px;
    }
    .accountConfirm{
        float: right;
    }
    .accountTag_name{
        padding-top: 14px;
    }
    .accoountMain_head{
        margin-top: 30px;
    }
    .accountTab_name{
        margin-top: -10px;
    }
}




@media (min-width: 1280px) {
    footer{
        margin-top: 60%;
    }
    .nav.nav-tabs {
        padding-bottom: 25px;
        padding-top: 25px;
        float: left;
        display: block;
        margin-right: 20px;
        border-bottom: 0;
        border-right: 1px solid #ddd;
        padding-right: 15px;
    }
    .nav-tabs .nav-link {
        padding-left: 70px;
        border: 1px solid transparent;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        background: #faf8f1;
        height: 50px;
        line-height: 30px;
        color: #8a4b20;
    }

    .nav-tabs .nav-link.active {
        color: white;
        background-color: #8a4b20 !important;
        border-color: transparent !important;
    }
    .nav-tabs .img_accountTab {
        margin-top: 6px !important;
        color: white;
        border-radius: 50%;
        background-color: white !important;
    }

    .nav-tabs .nav-link {
        margin-bottom: 3px !important;
        border-left: none !important;
        width: 290px !important;
        border: 1px solid transparent;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .tab-content > .active {      
        display: block;
        background: #faf8f1;
        padding: 30px 30px 30px 30px;
        border: #ddd 1px solid;
    }
    .nav.nav-tabs {
        float: left;
        display: block;
        margin-right: 20px;
        border-bottom: 0;
        border-right: 1px solid transparent;
        padding-right: 15px;
    }
    .img_accountTab {
        margin-top: 6px;
        height: 38px;
        width: 38px;
        position: absolute;
        z-index: 1;
        margin-left: 10px;
    }
    input[type="text"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    input[type="password"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    input[type="email"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    .accountHeading_main {
        margin-top: 5px !important;
    }
    .subName {
        margin-top: -20px !important;
    }
    .accountHome{
        width: 100%;
        margin-left: -105px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .accountConfirm{
        float: right;
    }
    .accountTag_name{
        padding-top: 14px;
    }
    .accountTab_name{
        margin-top: -5px;
    }
}




@media (min-width: 1920px) {
    footer{
        margin-top: 10%;
    }
    .nav.nav-tabs {
        padding-bottom: 25px;
        padding-top: 25px;
        float: left;
        display: block;
        margin-right: 20px;
        border-bottom: 0;
        border-right: 1px solid #ddd;
        padding-right: 15px;
        margin-top: -20px;
    }
    .nav-tabs .nav-link {
        padding-left: 70px;
        border: 1px solid transparent;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        background: #faf8f1;
        height: 50px;
        line-height: 30px;
        color: #8a4b20;
    }

    .nav-tabs .nav-link.active {
        color: white;
        background-color: #8a4b20 !important;
        border-color: transparent !important;
    }
    .nav-tabs .img_accountTab {
        margin-top: 6px !important;
        color: white;
        border-radius: 50%;
        background-color: white !important;
    }

    .nav-tabs .nav-link {
        margin-bottom: 3px !important;
        border-left: none !important;
        width: 400px !important;
        border: 1px solid transparent;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .tab-content > .active {      
        display: block;
        background: #faf8f1;
        padding: 30px 30px 30px 30px;
        border: #ddd 1px solid;
    }
    .nav.nav-tabs {
        float: left;
        display: block;
        margin-right: 20px;
        border-bottom: 0;
        border-right: 1px solid transparent;
        padding-right: 15px;
    }
    .img_accountTab {
        margin-top: 6px;
        height: 38px;
        width: 38px;
        position: absolute;
        z-index: 1;
        margin-left: 10px;
    }
    input[type="text"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    input[type="password"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    input[type="email"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    .accountHeading_main {
        margin-top: 20px !important;
    }
    .subName {
        margin-top: -20px !important;
    }
    .accountHome{
        width: 100% !important;
        margin-left: -160px !important;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    .accountConfirm{
        float: right;
    }
    .accountTag_name{
        padding-top: -14px;
    }
    .accoountMain_head{
        margin-top: -10px;
    }
    .accountTab_name{
        margin-top: -10px;
    }
}




@media (min-width: 1366px) {
    footer{
        margin-top: 10%;
    }
    .nav.nav-tabs {
        padding-bottom: 25px;
        padding-top: 25px;
        float: left;
        display: block;
        margin-right: 20px;
        border-bottom: 0;
        border-right: 1px solid #ddd;
        padding-right: 15px;
        margin-top: -20px;
    }
    .nav-tabs .nav-link {
        padding-left: 70px;
        border: 1px solid transparent;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        background: #faf8f1;
        height: 50px;
        line-height: 30px;
        color: #8a4b20;
    }

    .nav-tabs .nav-link.active {
        color: white;
        background-color: #8a4b20 !important;
        border-color: transparent !important;
    }
    .nav-tabs .img_accountTab {
        margin-top: 6px !important;
        color: white;
        border-radius: 50%;
        background-color: white !important;
    }

    .nav-tabs .nav-link {
        margin-bottom: 3px !important;
        border-left: none !important;
        width: 300px;
        border: 1px solid transparent;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .tab-content > .active {      
        display: block;
        background: #faf8f1;
        padding: 30px 30px 30px 30px;
        border: #ddd 1px solid;
    }
    .nav.nav-tabs {
        float: left;
        display: block;
        margin-right: 20px;
        border-bottom: 0;
        border-right: 1px solid transparent;
        padding-right: 15px;
    }
    .img_accountTab {
        margin-top: 6px;
        height: 38px;
        width: 38px;
        position: absolute;
        z-index: 1;
        margin-left: 10px;
    }
    input[type="text"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    input[type="password"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    input[type="email"].accountTextData {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 40px !important;
        box-sizing: border-box;
        border: #8a4b20 1px solid;
        border-radius: 4px !important;
    }
    .accountHeading_main {
        margin-top: -8px !important;
    }
    .subName {
        margin-top: -20px !important;
    }
    .accountHome{
        width: 100%;
        margin-left: -120px;
        margin-bottom: 20px;
        margin-top: -1px;
    }
    .accountConfirm{
        float: right;
    }
    .accountTag_name{
        padding-top: 14px;
    }
    .accoountMain_head{
        margin-top: 16px;
    }
    .accountTab_name{
        margin-top: -10px;
    }
}
    