@media (min-width: 320px) {
    .nav-justified .nav-link {
        font-size: 14px;
        padding-left: 25px;
        padding-right: 25px;
        border: 1px solid transparent;
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
        background: #faf8f1;
        height: 30px;
        line-height: 10px;
        color: #8a4b20;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .nav-justified .nav-link.active {
        color: white;
        background-color: #8a4b20 !important;
        border-color: transparent !important;
    }
    .tab-pane {
        background-color: white !important;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #eee;
        border-color: #e4e5e7;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 20px;
    }
    .panel-body {
        color: #333;
        background-color: white;
        border-color: #e4e5e7;
        margin-top: -20px;
        margin-bottom: 10px;
        padding: 16px 16px 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .panel-default > .panel-heading a {
        text-decoration: none !important;
        display: block;
        height: 100px;
        padding: 15px 20px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 20px;
    }

    .panel-default > .panel-heading a:after {
        content: "";
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: "Glyphicons Halflings";
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: right;
        transition: transform 0.25s linear;
        -webkit-transition: -webkit-transform 0.25s linear;
    }

    .panel-default > .panel-heading a[aria-expanded="true"] {
        background-color: #eee;
    }

    .panel-default > .panel-heading a[aria-expanded="true"]:after {
        margin-top: -12.5% !important;
        content: url("/frontEnd/icon/50px/icons8-expand-arrow-50.png");
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .panel-default > .panel-heading a[aria-expanded="false"]:after {
        margin-top: -12.5% !important;
        content: url("/frontEnd/icon/50px/icons8-collapse-arrow-50.png");
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .activitymain_Top{
        font-size: 12px;
    }
    .activityUpcoming_img_sm {
        height: 30px;
        width: 30px;
        margin-left: 30px;
    }
    .activityUpcoming_mainHead {
        font-weight: 900 !important;
        padding-left: 20px;
        color: #8a4b20;
        font-size: 11px;
        text-align: center !important;
    }
    .activityUpcoming_subHead {
        padding-left: 10px;
        color: #8a4b20;
        font-size: 10px;
        margin-top: -5%;
    }
    .activityUpcoming_job {
        font-weight: 900 !important;
        color: black;
        font-size: 11px;
        margin-top: 22%;
    }
    .activityUpcoming_mainHead_date {
        padding-left: 2px;
        color: #8a4b20;
        font-size: 10px;
        text-align: center !important;
    }
    .activityUpcoming_subHead_time {
        font-weight: 900 !important;
        padding-left: 35px;
        color: #8a4b20;
        font-size: 10px;
        margin-top: -5%;
        text-align: center !important;
    }
    #activityUpcoming_subHead_shedule {
        font-size: 13px;
        margin-top: 40%;
        text-align: center !important;
    }
    .activityPanel_body_topicMain {
        font-weight: 900 !important;
        color: #8a4b20;
        font-size: 11px;
    }
    .activityPanel_body_topicSub {
        color: #8a4b20;
        font-size: 10px;
    }
    .text-black_activity {
        font-weight: bold;
        font-size: 9px !important;
        color: black;
        margin-left: -2px !important;
    }
    .text-brown_activity {
        font-weight: bold;
        font-size: 9px !important;
        color: #8a4b20;
        margin-left: -2px !important;
    }
    hr.class-2 {
        border-top: 4px solid white;
    }
    hr.class-3 {
        margin-top: 10px;
        border-top: 4px solid white;
        margin-bottom: -2px !important;
    }
    .text-brown_activity_date {
        font-size: 10px;
        color: #8a4b20;
    }
    .text-brown_activity_time {
        font-weight: bold;
        font-size: 10px;
        color: #8a4b20;
    }
    .btn-brown_activity_reshedule {
        border: none !important;
        background-color: #fe9000;
        color: white;
        padding: 5px 20px !important;
        font-size: 11px;
        height: 40px !important;
    }
    .btn-brown_activity_cancel {
        border: none !important;
        background-color: #8a4b20;
        color: white;
        padding: 5px 20px !important;
        font-size: 11px;
        height: 40px !important;
        float: right;
    }
    .btn-brown_activity_document {
        border: #8a4b20 0px solid !important;
        background-color: white;
        color: #8a4b20;
        padding: 5px 1px !important;
        font-size: 10px;
        height: 40px !important;
    }
    .requestSummary_img {
        height: 20px;
        width: 20px;
    }
}

@media (min-width: 480px) {
    .nav-justified .nav-link {
        font-size: 14px;
        padding-left: 25px;
        padding-right: 25px;
        border: 1px solid transparent;
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
        background: #faf8f1;
        height: 30px;
        line-height: 10px;
        color: #8a4b20;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .nav-justified .nav-link.active {
        color: white;
        background-color: #8a4b20 !important;
        border-color: transparent !important;
    }
    .tab-pane {
        background-color: white !important;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #eee;
        border-color: #e4e5e7;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 20px;
    }
    .panel-body {
        color: #333;
        background-color: white;
        border-color: #e4e5e7;
        margin-top: -20px;
        margin-bottom: 10px;
        padding: 16px 16px 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .panel-default > .panel-heading a {
        text-decoration: none !important;
        display: block;
        height: 100px;
        padding: 15px 20px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 20px;
    }

    .panel-default > .panel-heading a:after {
        content: "";
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: "Glyphicons Halflings";
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: right;
        transition: transform 0.25s linear;
        -webkit-transition: -webkit-transform 0.25s linear;
    }

    .panel-default > .panel-heading a[aria-expanded="true"] {
        background-color: #eee;
    }

    .panel-default > .panel-heading a[aria-expanded="true"]:after {
        margin-top: -12.5% !important;
        content: url("/frontEnd/icon/50px/icons8-expand-arrow-50.png");
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .panel-default > .panel-heading a[aria-expanded="false"]:after {
        margin-top: -12.5% !important;
        content: url("/frontEnd/icon/50px/icons8-collapse-arrow-50.png");
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .activitymain_Top{
        font-size: 12px;
    }
    .activityUpcoming_img_sm {
        height: 30px;
        width: 30px;
        margin-left: 30px;
    }
    .activityUpcoming_mainHead {
        font-weight: 900 !important;
        padding-left: 20px;
        color: #8a4b20;
        font-size: 11px;
        text-align: center !important;
    }
    .activityUpcoming_subHead {
        padding-left: 10px;
        color: #8a4b20;
        font-size: 10px;
        margin-top: -5%;
    }
    .activityUpcoming_job {
        font-weight: 900 !important;
        color: black;
        font-size: 11px;
        margin-top: 22%;
    }
    .activityUpcoming_mainHead_date {
        padding-left: 2px;
        color: #8a4b20;
        font-size: 10px;
        text-align: center !important;
    }
    .activityUpcoming_subHead_time {
        font-weight: 900 !important;
        padding-left: 35px;
        color: #8a4b20;
        font-size: 10px;
        margin-top: -5%;
        text-align: center !important;
    }
    #activityUpcoming_subHead_shedule {
        font-size: 13px;
        margin-top: 40%;
        text-align: center !important;
    }
    .activityPanel_body_topicMain {
        font-weight: 900 !important;
        color: #8a4b20;
        font-size: 11px;
    }
    .activityPanel_body_topicSub {
        color: #8a4b20;
        font-size: 10px;
    }
    .text-black_activity {
        font-weight: bold;
        font-size: 9px !important;
        margin-left: -2px !important;
        color: black;
    }
    .text-brown_activity {
        font-weight: bold;
        font-size: 9px !important;
        color: #8a4b20;
        margin-left: -2px !important;
    }
    hr.class-2 {
        border-top: 4px solid white;
    }
    hr.class-3 {
        margin-top: 10px;
        border-top: 4px solid white;
        margin-bottom: -2px !important;
    }
    .text-brown_activity_date {
        font-size: 10px;
        color: #8a4b20;
    }
    .text-brown_activity_time {
        font-weight: bold;
        font-size: 10px;
        color: #8a4b20;
    }
    .btn-brown_activity_reshedule {
        border: none !important;
        background-color: #fe9000;
        color: white;
        padding: 5px 20px !important;
        font-size: 11px;
        height: 40px !important;
    }
    .btn-brown_activity_cancel {
        border: none !important;
        background-color: #8a4b20;
        color: white;
        padding: 5px 20px !important;
        font-size: 11px;
        height: 40px !important;
        float: right;
    }
    .btn-brown_activity_document {
        border: #8a4b20 0px solid !important;
        background-color: white;
        color: #8a4b20;
        padding: 5px 1px !important;
        font-size: 10px;
        height: 40px !important;
    }
    .requestSummary_img {
        height: 20px;
        width: 20px;
    }
}

@media (min-width: 768px) {
    .nav-justified .nav-link {
        font-size: 14px;
        padding-left: 25px;
        padding-right: 25px;
        border: 1px solid transparent;
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
        background: #faf8f1;
        height: 30px;
        line-height: 10px;
        color: #8a4b20;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .nav-justified .nav-link.active {
        color: white;
        background-color: #8a4b20 !important;
        border-color: transparent !important;
    }
    .tab-pane {
        background-color: white !important;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #eee;
        border-color: #e4e5e7;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 20px;
    }
    .panel-body {
        color: #333;
        background-color: white;
        border-color: #e4e5e7;
        margin-top: -20px;
        margin-bottom: 10px;
        padding: 16px 16px 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .panel-default > .panel-heading a {
        text-decoration: none !important;
        display: block;
        height: 100px;
        padding: 15px 20px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 20px;
    }

    .panel-default > .panel-heading a:after {
        content: "";
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: "Glyphicons Halflings";
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: right;
        transition: transform 0.25s linear;
        -webkit-transition: -webkit-transform 0.25s linear;
    }

    .panel-default > .panel-heading a[aria-expanded="true"] {
        background-color: #eee;
    }

    .panel-default > .panel-heading a[aria-expanded="true"]:after {
        margin-top: -12.5% !important;
        content: url("/frontEnd/icon/50px/icons8-expand-arrow-50.png");
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .panel-default > .panel-heading a[aria-expanded="false"]:after {
        margin-top: -12.5% !important;
        content: url("/frontEnd/icon/50px/icons8-collapse-arrow-50.png");
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .activitymain_Top{
        font-size: 12px;
    }
    .activityUpcoming_img_sm {
        height: 30px;
        width: 30px;
        margin-left: 30px;
    }
    .activityUpcoming_mainHead {
        font-weight: 900 !important;
        padding-left: 20px;
        color: #8a4b20;
        font-size: 11px;
        text-align: center !important;
    }
    .activityUpcoming_subHead {
        padding-left: 10px;
        color: #8a4b20;
        font-size: 10px;
        margin-top: -5%;
    }
    .activityUpcoming_job {
        font-weight: 900 !important;
        color: black;
        font-size: 11px;
        margin-top: 22%;
    }
    .activityUpcoming_mainHead_date {
        padding-left: 2px;
        color: #8a4b20;
        font-size: 10px;
        text-align: center !important;
    }
    .activityUpcoming_subHead_time {
        font-weight: 900 !important;
        padding-left: 35px;
        color: #8a4b20;
        font-size: 10px;
        margin-top: -5%;
        text-align: center !important;
    }
    #activityUpcoming_subHead_shedule {
        font-size: 13px;
        margin-top: 40%;
        text-align: center !important;
    }
    .activityPanel_body_topicMain {
        font-weight: 900 !important;
        color: #8a4b20;
        font-size: 11px;
    }
    .activityPanel_body_topicSub {
        color: #8a4b20;
        font-size: 10px;
    }
    .text-black_activity {
        font-weight: bold;
        font-size: 9px !important;
        margin-left: -5px;
        color: black;
    }
    .text-brown_activity {
        font-weight: bold;
        font-size: 9px !important;
        color: #8a4b20;
        margin-left: -5px;
    }
    hr.class-2 {
        border-top: 4px solid white;
    }
    hr.class-3 {
        margin-top: 10px;
        border-top: 4px solid white;
        margin-bottom: -2px !important;
    }
    .text-brown_activity_date {
        font-size: 10px;
        color: #8a4b20;
    }
    .text-brown_activity_time {
        font-weight: bold;
        font-size: 10px;
        color: #8a4b20;
    }
    .btn-brown_activity_reshedule {
        border: none !important;
        background-color: #fe9000;
        color: white;
        padding: 5px 20px !important;
        font-size: 11px;
        height: 40px !important;
    }
    .btn-brown_activity_cancel {
        border: none !important;
        background-color: #8a4b20;
        color: white;
        padding: 5px 20px !important;
        font-size: 11px;
        height: 40px !important;
        float: right;
    }
    .btn-brown_activity_document {
        border: #8a4b20 0px solid !important;
        background-color: white;
        color: #8a4b20;
        padding: 5px 1px !important;
        font-size: 10px;
        height: 40px !important;
    }
    .requestSummary_img {
        height: 20px;
        width: 20px;
    }
}

@media (min-width: 1024px) {
    .nav-justified .nav-link {
        font-size: 14px;
        padding-left: 25px;
        padding-right: 25px;
        border: 1px solid transparent;
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
        background: #faf8f1;
        height: 30px;
        line-height: 10px;
        color: #8a4b20;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .nav-justified .nav-link.active {
        color: white;
        background-color: #8a4b20 !important;
        border-color: transparent !important;
    }
    .tab-pane {
        background-color: white !important;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #eee;
        border-color: #e4e5e7;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 20px;
    }
    .panel-body {
        color: #333;
        background-color: white;
        border-color: #e4e5e7;
        margin-top: -20px;
        margin-bottom: 10px;
        padding: 16px 16px 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .panel-default > .panel-heading a {
        text-decoration: none !important;
        display: block;
        height: 100px;
        padding: 15px 20px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 20px;
    }

    .panel-default > .panel-heading a:after {
        content: "";
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: "Glyphicons Halflings";
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: right;
        transition: transform 0.25s linear;
        -webkit-transition: -webkit-transform 0.25s linear;
    }

    .panel-default > .panel-heading a[aria-expanded="true"] {
        background-color: #eee;
    }

    .panel-default > .panel-heading a[aria-expanded="true"]:after {
        margin-top: -11% !important;
        content: url("/frontEnd/icon/50px/icons8-expand-arrow-50.png");
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .panel-default > .panel-heading a[aria-expanded="false"]:after {
        margin-top: -11% !important;
        content: url("/frontEnd/icon/50px/icons8-collapse-arrow-50.png");
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .activitymain_Top{
        font-size: 10px;
    }
    .activityUpcoming_img_sm {
        height: 30px;
        width: 30px;
        margin-left: 30px;
    }
    .activityUpcoming_mainHead {
        font-weight: 900 !important;
        padding-left: 20px;
        color: #8a4b20;
        font-size: 11px;
        text-align: center !important;
    }
    .activityUpcoming_subHead {
        padding-left: 10px;
        color: #8a4b20;
        font-size: 10px;
        margin-top: -5%;
    }
    .activityUpcoming_job {
        font-weight: 900 !important;
        color: black;
        font-size: 12px;
        margin-top: 22%;
    }
    .activityUpcoming_mainHead_date {
        padding-left: 2px;
        color: #8a4b20;
        font-size: 10px;
        text-align: center !important;
    }
    .activityUpcoming_subHead_time {
        font-weight: 900 !important;
        padding-left: 35px;
        color: #8a4b20;
        font-size: 10px;
        margin-top: -5%;
        text-align: center !important;
    }
    #activityUpcoming_subHead_shedule {
        font-size: 15px;
        margin-top: 40%;
        text-align: center !important;
    }
    .activityPanel_body_topicMain {
        font-weight: 900 !important;
        color: #8a4b20;
        font-size: 11px;
    }
    .activityPanel_body_topicSub {
        color: #8a4b20;
        font-size: 10px;
    }
    .text-black_activity {
        font-weight: bold;
        font-size: 9px !important;
        margin-left: -5px !important;
        color: black;
    }
    .text-brown_activity {
        font-weight: bold;
        font-size: 9px !important;
        color: #8a4b20;
        margin-left: -5px !important;
    }
    hr.class-2 {
        border-top: 4px solid white;
    }
    hr.class-3 {
        margin-top: 10px;
        border-top: 4px solid white;
        margin-bottom: -2px !important;
    }
    .text-brown_activity_date {
        font-size: 10px;
        color: #8a4b20;
    }
    .text-brown_activity_time {
        font-weight: bold;
        font-size: 10px;
        color: #8a4b20;
    }
    .btn-brown_activity_reshedule {
        border: none !important;
        background-color: #fe9000;
        color: white;
        padding: 5px 10px !important;
        font-size: 11px;
        height: 40px !important;
    }
    .btn-brown_activity_cancel {
        border: none !important;
        background-color: #8a4b20;
        color: white;
        padding: 5px 10px !important;
        font-size: 11px;
        height: 40px !important;
    }
    .btn-brown_activity_document {
        border: #8a4b20 0px solid !important;
        background-color: white;
        color: #8a4b20;
        padding: 5px 1px !important;
        font-size: 10px;
        height: 40px !important;
    }
    .requestSummary_img {
        height: 20px;
        width: 20px;
    }
}

@media (min-width: 1280px) {
    .nav-justified .nav-link {
        font-size: 14px;
        padding-left: 25px;
        padding-right: 25px;
        border: 1px solid transparent;
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
        background: #faf8f1;
        height: 30px;
        line-height: 10px;
        color: #8a4b20;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .nav-justified .nav-link.active {
        color: white;
        background-color: #8a4b20 !important;
        border-color: transparent !important;
    }
    .tab-pane {
        background-color: white !important;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #eee;
        border-color: #e4e5e7;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 20px;
    }
    .panel-body {
        color: #333;
        background-color: white;
        border-color: #e4e5e7;
        margin-top: -20px;
        margin-bottom: 10px;
        padding: 16px 16px 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .panel-default > .panel-heading a {
        text-decoration: none !important;
        display: block;
        height: 100px;
        padding: 15px 20px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 20px;
    }

    .panel-default > .panel-heading a:after {
        content: "";
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: "Glyphicons Halflings";
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: right;
        transition: transform 0.25s linear;
        -webkit-transition: -webkit-transform 0.25s linear;
    }

    .panel-default > .panel-heading a[aria-expanded="true"] {
        background-color: #eee;
    }

    .panel-default > .panel-heading a[aria-expanded="true"]:after {
        margin-top: -9% !important;
        content: url("/frontEnd/icon/50px/icons8-expand-arrow-50.png");
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .panel-default > .panel-heading a[aria-expanded="false"]:after {
        margin-top: -9% !important;
        content: url("/frontEnd/icon/50px/icons8-collapse-arrow-50.png");
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .activitymain_Top{
        font-size: 14px;
    }
    .activityUpcoming_img_sm {
        height: 30px;
        width: 30px;
        margin-left: 40px;
    }
    .activityUpcoming_mainHead {
        font-weight: 900 !important;
        padding-left: 25px;
        color: #8a4b20;
        font-size: 12px;
        text-align: center !important;
    }
    .activityUpcoming_subHead {
        padding-left: 20px;
        color: #8a4b20;
        font-size: 10px;
        margin-top: -5%;
    }
    .activityUpcoming_job {
        font-weight: 900 !important;
        color: black;
        font-size: 15px;
        margin-top: 12%;
    }
    .activityUpcoming_mainHead_date {
        padding-left: 2px;
        color: #8a4b20;
        font-size: 12px;
        text-align: center !important;
    }
    .activityUpcoming_subHead_time {
        font-weight: 900 !important;
        padding-left: 45px;
        color: #8a4b20;
        font-size: 10px;
        margin-top: -5%;
        text-align: center !important;
    }
    #activityUpcoming_subHead_shedule {
        font-size: 15px;
        margin-top: 15%;
        text-align: center !important;
    }
    .activityPanel_body_topicMain {
        font-weight: 900 !important;
        color: #8a4b20;
        font-size: 11px;
    }
    .activityPanel_body_topicSub {
        color: #8a4b20;
        font-size: 10px;
    }
    .text-black_activity {
        font-weight: bold;
        font-size: 10px !important;
        color: black;
    }
    .text-brown_activity {
        font-weight: bold;
        font-size: 11px !important;
        color: #8a4b20;
    }
    hr.class-2 {
        border-top: 4px solid white;
    }
    hr.class-3 {
        margin-top: 10px;
        border-top: 4px solid white;
        margin-bottom: -2px !important;
    }
    .text-brown_activity_date {
        font-size: 10px;
        color: #8a4b20;
    }
    .text-brown_activity_time {
        font-weight: bold;
        font-size: 10px;
        color: #8a4b20;
    }
    .btn-brown_activity_reshedule {
        border: none !important;
        background-color: #fe9000;
        color: white;
        padding: 5px 20px !important;
        font-size: 13px;
        height: 40px !important;
    }
    .btn-brown_activity_cancel {
        border: none !important;
        background-color: #8a4b20;
        color: white;
        padding: 5px 20px !important;
        font-size: 13px;
        height: 40px !important;
    }
    .btn-brown_activity_document {
        border: #8a4b20 0px solid !important;
        background-color: white;
        color: #8a4b20;
        padding: 5px 12px !important;
        font-size: 12px;
        height: 40px !important;
    }
    .requestSummary_img {
        height: 25px;
        width: 25px;
    }
}

@media (min-width: 1920px) {
    .nav-justified .nav-link {
        font-size: 14px;
        padding-left: 25px;
        padding-right: 25px;
        border: 1px solid transparent;
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
        background: #faf8f1;
        height: 30px;
        line-height: 10px;
        color: #8a4b20;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .nav-justified .nav-link.active {
        color: white;
        background-color: #8a4b20 !important;
        border-color: transparent !important;
    }
    .tab-pane {
        background-color: white !important;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #eee;
        border-color: #e4e5e7;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 20px;
    }
    .panel-body {
        color: #333;
        background-color: white;
        border-color: #e4e5e7;
        margin-top: -20px;
        margin-bottom: 10px;
        padding: 16px 16px 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .panel-default > .panel-heading a {
        text-decoration: none !important;
        display: block;
        height: 100px;
        padding: 15px 20px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 20px;
    }

    .panel-default > .panel-heading a:after {
        content: "";
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: "Glyphicons Halflings";
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: right;
        transition: transform 0.25s linear;
        -webkit-transition: -webkit-transform 0.25s linear;
    }

    .panel-default > .panel-heading a[aria-expanded="true"] {
        background-color: #eee;
    }

    .panel-default > .panel-heading a[aria-expanded="true"]:after {
        margin-top: -5% !important;
        content: url("/frontEnd/icon/50px/icons8-expand-arrow-50.png");
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .panel-default > .panel-heading a[aria-expanded="false"]:after {
        margin-top: -5% !important;
        content: url("/frontEnd/icon/50px/icons8-collapse-arrow-50.png");
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .activitymain_Top{
        font-size: 14px;
    }
    .activityUpcoming_img_sm {
        height: 30px;
        width: 30px;
        margin-left: 40px;
    }
    .activityUpcoming_mainHead {
        font-weight: 900 !important;
        padding-left: 25px;
        color: #8a4b20;
        font-size: 12px;
        text-align: center !important;
    }
    .activityUpcoming_subHead {
        padding-left: 20px;
        color: #8a4b20;
        font-size: 10px;
        margin-top: -5%;
    }
    .activityUpcoming_job {
        font-weight: 900 !important;
        color: black;
        font-size: 15px;
        margin-top: 12%;
    }
    .activityUpcoming_mainHead_date {
        padding-left: 2px;
        color: #8a4b20;
        font-size: 12px;
        text-align: center !important;
    }
    .activityUpcoming_subHead_time {
        font-weight: 900 !important;
        padding-left: 45px;
        color: #8a4b20;
        font-size: 10px;
        margin-top: -5%;
        text-align: center !important;
    }
    #activityUpcoming_subHead_shedule {
        font-size: 15px;
        margin-top: 15%;
        text-align: center !important;
    }
    .activityPanel_body_topicMain {
        font-weight: 900 !important;
        color: #8a4b20;
        font-size: 11px;
    }
    .activityPanel_body_topicSub {
        color: #8a4b20;
        font-size: 10px;
    }
    .text-black_activity {
        font-weight: bold;
        font-size: 12px;
        color: black;
    }
    .text-brown_activity {
        font-weight: bold;
        font-size: 12px;
        color: #8a4b20;
    }
    hr.class-2 {
        border-top: 4px solid white;
    }
    hr.class-3 {
        margin-top: 10px;
        border-top: 4px solid white;
        margin-bottom: -2px !important;
    }
    .text-brown_activity_date {
        font-size: 10px;
        color: #8a4b20;
    }
    .text-brown_activity_time {
        font-weight: bold;
        font-size: 10px;
        color: #8a4b20;
    }
    .btn-brown_activity_reshedule {
        border: none !important;
        background-color: #fe9000;
        color: white;
        padding: 5px 40px !important;
        font-size: 13px;
        height: 40px !important;
    }
    .btn-brown_activity_cancel {
        border: none !important;
        background-color: #8a4b20;
        color: white;
        padding: 5px 40px !important;
        font-size: 13px;
        height: 40px !important;
    }
    .btn-brown_activity_document {
        border: #8a4b20 0px solid !important;
        background-color: white;
        color: #8a4b20;
        padding: 5px 20px !important;
        font-size: 14px;
        height: 40px !important;
    }
    .requestSummary_img {
        height: 30px;
        width: 30px;
    }
}

@media (min-width: 1366px) {
    .nav-justified .nav-link {
        font-size: 14px;
        padding-left: 25px;
        padding-right: 25px;
        border: 1px solid transparent;
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
        background: #faf8f1;
        height: 30px;
        line-height: 10px;
        color: #8a4b20;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .nav-justified .nav-link.active {
        color: white;
        background-color: #8a4b20 !important;
        border-color: transparent !important;
    }
    .tab-pane {
        background-color: white !important;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #eee;
        border-color: #e4e5e7;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 20px;
    }
    .panel-body {
        color: #333;
        background-color: white;
        border-color: #e4e5e7;
        margin-top: -20px;
        margin-bottom: 10px;
        padding: 16px 16px 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .panel-default > .panel-heading a {
        text-decoration: none !important;
        display: block;
        height: 100px;
        padding: 15px 20px;
        box-shadow: 2px 2px 2px rgba(20, 0, 0, 0.12),
            0 1px 2px rgba(20, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 20px;
    }

    .panel-default > .panel-heading a:after {
        content: "";
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: "Glyphicons Halflings";
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: right;
        transition: transform 0.25s linear;
        -webkit-transition: -webkit-transform 0.25s linear;
    }

    .panel-default > .panel-heading a[aria-expanded="true"] {
        background-color: #eee;
    }

    .panel-default > .panel-heading a[aria-expanded="true"]:after {
        margin-top: -8%;
        content: url("/frontEnd/icon/50px/icons8-expand-arrow-50.png");
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .panel-default > .panel-heading a[aria-expanded="false"]:after {
        margin-top: -8%;
        content: url("/frontEnd/icon/50px/icons8-collapse-arrow-50.png");
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .activitymain_Top{
        font-size: 14px;
    }
    .activityUpcoming_img_sm {
        height: 30px;
        width: 30px;
        margin-left: 40px;
    }
    .activityUpcoming_mainHead {
        font-weight: 900 !important;
        padding-left: 25px;
        color: #8a4b20;
        font-size: 12px;
        text-align: center !important;
    }
    .activityUpcoming_subHead {
        padding-left: 20px;
        color: #8a4b20;
        font-size: 10px;
        margin-top: -5%;
    }
    .activityUpcoming_job {
        font-weight: 900 !important;
        color: black;
        font-size: 15px;
        margin-top: 12%;
    }
    .activityUpcoming_mainHead_date {
        padding-left: 2px;
        color: #8a4b20;
        font-size: 12px;
        text-align: center !important;
    }
    .activityUpcoming_subHead_time {
        font-weight: 900 !important;
        padding-left: 45px;
        color: #8a4b20;
        font-size: 10px;
        margin-top: -5%;
        text-align: center !important;
    }
    #activityUpcoming_subHead_shedule {
        font-size: 15px;
        margin-top: 15%;
        text-align: center !important;
    }
    .activityPanel_body_topicMain {
        font-weight: 900 !important;
        color: #8a4b20;
        font-size: 11px;
    }
    .activityPanel_body_topicSub {
        color: #8a4b20;
        font-size: 10px;
    }
    .text-black_activity {
        font-weight: bold;
        font-size: 12px;
        color: black;
        margin-left: -1px !important;
    }
    .text-brown_activity {
        font-weight: bold;
        font-size: 12px;
        color: #8a4b20;
        margin-left: -1px !important;
    }
    hr.class-2 {
        border-top: 4px solid white;
    }
    hr.class-3 {
        margin-top: 10px;
        border-top: 4px solid white;
        margin-bottom: -2px !important;
    }
    .text-brown_activity_date {
        font-size: 10px;
        color: #8a4b20;
    }
    .text-brown_activity_time {
        font-weight: bold;
        font-size: 10px;
        color: #8a4b20;
    }
    .btn-brown_activity_reshedule {
        border: none !important;
        background-color: #fe9000;
        color: white;
        padding: 5px 20px;
        font-size: 13px;
        height: 40px !important;
    }
    .btn-brown_activity_cancel {
        border: none !important;
        background-color: #8a4b20;
        color: white;
        padding: 5px 20px;
        font-size: 13px;
        height: 40px !important;
    }
    .btn-brown_activity_document {
        border: #8a4b20 0px solid !important;
        background-color: white;
        color: #8a4b20;
        padding: 5px 10px !important;
        font-size: 13px;
        height: 40px !important;
    }
    .requestSummary_img {
        height: 30px;
        width: 30px;
    }
}
