@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);@font-face {
  font-family: Montserrat-Light;
  src: url("/fonts/Montserrat-Light.ttf") !important;
}

@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("/fonts/Montserrat-SemiBold.ttf") !important;
  font-weight: 700;
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("/fonts/Montserrat-Bold.ttf") !important;
  font-weight: 800;
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("/fonts/Montserrat-ExtraBold.ttf") !important;
  font-weight: 900;
}

* {
  font-family: "Montserrat", sans-serif;
}

.font-1 {
  font-family: "Montserrat", sans-serif;
}

.text-bold {
  font-family: Montserrat-Bold, serif;
}

.text-semi-bold {
  font-family: Montserrat-SemiBold, serif;
}

.text-extra-bold {
  font-family: Montserrat-ExtraBold, serif;
}

.bg-light-brown {
  background-color: #e7e9f4;
}

.h-100 {
  height: 100px !important;
}

.text-brown {
  color: #8a4b20 !important;
}

.text-orange {
  color: #fe9000;
}

.text-dark-blue {
  color: #132b93;
}

.text-blue {
  color: #132b93 !important;
}

.menu li a {
  font-size: 20px !important;
}

.btn-normal {
  width: 150px;
}

.btn-brown {
  background-color: #b86106;
  color: white;
  padding: 10px 25px;
}

.btn-white {
  background-color: white;
  color: #b86106;
  padding: 10px 25px;
}

.box-yellow {
  font-size: 30px;
  padding: 20px 100px 0 40px;
  line-height: 35px;
}

.btn-search {
  padding: 17px 20px;
  background-color: #b86106;
  color: #fff;
  width: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.navbar {
  padding: 0;
}

.navbar-nav .nav-item .nav-link {
  padding: 45px 15px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: #8a4b20;
  color: white !important;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.btn-align {
  padding-top: 4%;
}

.navbar-brand {
  font-size: 30px;
  color: #8a4b20 !important;
  font-weight: bold;
  font-family: "Montserrat";
  text-transform: uppercase;
}

.circle {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 8px 20px 0 #b7b7b7;
  border: 1px solid #b86106;
  display: table;
  position: relative;
  margin: 0 auto;
}

.circle .circle-inner {
  vertical-align: middle;
  display: table-cell;
}

.circle .counter {
  font-size: 50px;
}

.circle .title {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
}

.circle-sm {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #fe9000;
  display: inline-block;
}

.circle-sm p {
  font-size: 20px;
}

.circle-blue-sm {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #132b93;
  display: inline-block;
}

.circle-blue-sm p {
  font-size: 20px;
}

.box {
  border-radius: 5px;
  padding: 15px;
}

.box .header {
  font-size: 20px;
  font-weight: bold;
  color: #b86106;
  display: inline-block;
  width: 140px;
  position: relative;
  top: -30px;
}

.box .box-hr {
  width: 10%;
  border: 5px dashed #b86106;
}

.blue-box {
  background-color: #e7e9f4;
}

.blue-box p {
  color: #132b93;
}

.brown-box {
  background-color: rgba(184, 97, 16, 0.2);
}

.brown-box .header {
  color: #132b93 !important;
}

.brown-box p {
  color: #8a4b20;
}

.brown-circle {
  padding: 15px 15px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #b86106;
  display: inline-block;
}

.number-circle {
  height: 50px;
  width: 50px;
  padding: 0 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
  border: 1px solid #b86106;
}

.number-circle p {
  font-size: 20px;
}

.light-pink-row {
  background-color: #e7e9f4;
}

.light-pink-row .title {
  font-size: 57px;
  letter-spacing: 2px;
  white-space: nowrap;
  color: #fe9000;
}

.light-pink-row .desc {
  font-size: 20px;
  line-height: 25px;
  padding-left: 30px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 28px;
  color: #b86106;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 28px;
  color: #b86106;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.input-border {
  background-color: #e7e9f4;
}

.fs-14 {
  font-size: 14px !important;
}

.color-999 {
  color: #999999;
}

.landing-left {
  background-image: url("/images/background.png");
  background-size: cover;
}

.landing-header {
  font-size: 54px;
}

.landing-header-2 {
  font-size: 42px;
  padding-top: 17px;
}

.landing-desc {
  font-size: 18px;
  line-height: 28px;
  margin-left: 40px;
  padding-top: 10px;
}

.btn-booknow {
  width: 250px;
  height: 100px;
  font-size: 32px;
  margin-top: 10px;
}

.landing-p {
  font-size: 32px;
}

.title {
  font-size: 28px;
  letter-spacing: 2px;
}

.title-2 {
  font-size: 34px;
  letter-spacing: 1px;
}

.about-sec {
  background-color: #e7e9f4;
  margin-top: 52px;
}

.about-sec h3 {
  margin-right: 4%;
}

.about-desc {
  letter-spacing: 1px;
}

.step .counter {
  font-size: 42px;
  margin-top: -8px;
  text-align: center;
}

.step .title {
  font-size: 38px;
  white-space: nowrap;
}

.pay img {
  width: 60px;
}

.pay .number-circle-p {
  padding: 16px 13px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
  border: 1px solid #b86106;
}

.card h5 {
  font-size: 16px;
}

.btn-all {
  padding: 18px 60px;
}

input,
select {
  height: 70px !important;
}

footer {
  background-color: #e7e9f4;
  padding: 40px 0 20px;
}

footer .title-2 {
  font-size: 28px;
}

.form input[type=text],
.form input[type=password],
.form input[type=email] {
  background-color: transparent;
  line-height: 1.5em;
  border: 0;
  display: block;
  width: 100%;
  height: 40px !important;
  border-bottom: 1px solid #b86106;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #e7e9f4));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #e7e9f4 4%);
  background-position: -100em 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) all;
  transition: 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) all;
}

.form input[type=text]:focus,
.form input[type=text]:valid,
.form input[type=password]:focus,
.form input[type=password]:valid,
.form input[type=email]:focus,
.form input[type=email]:valid {
  background-position: 0 0;
}

.form input[type=text]:focus ~ label,
.form input[type=text]:valid ~ label,
.form input[type=password]:focus ~ label,
.form input[type=password]:valid ~ label,
.form input[type=email]:focus ~ label,
.form input[type=email]:valid ~ label {
  color: #b86106;
  font-size: 0.875em;
  top: -1.5em;
}

.form input[type=text]:focus,
.form input[type=password]:focus,
.form input[type=email]:focus {
  outline: none;
}

.form label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

.form input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

.item-box {
  width: 300px;
  height: 150px;
  border-radius: 5px;
}

.inner-box {
  height: 100%;
  padding: 40px;
}

.border-blue {
  border: 1px solid #132b93;
}

.border-white {
  border: 1px solid white;
}

.bg-blue {
  background-color: #132b93;
}

.bg-brown {
  background-color: #b86106;
}

.big-number {
  font-size: 200px;
  line-height: 100px;
}

.stroke-blue {
  -webkit-text-stroke: 1px #132b93;
}

.current-inner-box {
  height: 93%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.current-inner-box .service-type {
  text-transform: uppercase;
  letter-spacing: 10px;
  color: white;
}

.circle-service {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 8px 20px 0 #b7b7b7;
  padding: 85px 10px;
  border: 1px solid #b86106;
}

.nav-link {
  white-space: nowrap !important;
}

.owl-carousel .owl-nav .owl-prev {
  display: block !important;
  position: absolute;
  top: 37%;
  left: -6%;
  background-color: #4b71c2 !important;
  border-radius: 100px !important;
  padding: 14px !important;
  opacity: 1 !important;
  color: #fff !important;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.owl-carousel .owl-nav .owl-prevfocus {
  outline: 0;
}

.owl-carousel .owl-nav .owl-prev i {
  background-color: #fff;
  color: #333;
  padding: 20px 22px;
  border-radius: 100px;
  font-size: 21px;
}

.owl-carousel .owl-nav .owl-next {
  display: block !important;
  position: absolute;
  top: 37%;
  right: -6%;
  background-color: white !important;
  border-radius: 100px !important;
  padding: 14px !important;
  opacity: 1 !important;
  color: #4b71c2 !important;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.owl-carousel .owl-nav .owl-nextfocus {
  outline: 0;
}

.owl-carousel .owl-nav .owl-next i {
  background-color: #fff;
  color: #333;
  padding: 20px 22px;
  border-radius: 100px;
  font-size: 21px;
}

/*changes list css*/

.img-intro {
  max-width: 450px !important;
}

input,
select {
  height: 60px !important;
}

.carousel-control-next {
  right: -10%;
}

.carousel-control-prev {
  left: -10%;
}

@media (max-width: 991px) {
  .navbar {
    padding: 15px;
  }

  .navbar-nav .nav-item .nav-link {
    padding: 20px 15px;
  }

  .landing-desc {
    font-size: 18px;
    line-height: 24px;
    margin-left: 40px;
    padding-top: 48px;
    margin-right: 140px;
  }

  .light-pink-row .title {
    font-size: 52px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .landing-desc {
    font-size: 16px;
    line-height: 28px;
    margin-left: 40px;
    padding-top: 10px;
  }

  .about-sec {
    background-color: #e7e9f4;
    margin-top: 43px;
  }

  .light-pink-row .title {
    font-size: 47px;
  }

  .box .header {
    top: -16px;
  }

  .step .title {
    font-size: 28px;
    white-space: nowrap;
  }

  .owl-carousel .owl-nav .owl-prev {
    left: -3%;
  }

  .owl-carousel .owl-nav .owl-next {
    right: -3%;
  }
}

@media (max-width: 667px) {
  .light-pink-row .title {
    font-size: 22px;
  }

  .light-pink-row .desc {
    font-size: 14px;
  }

  .carousel-control-next {
    right: -3%;
  }

  .carousel-control-prev {
    left: -3%;
  }

  .navbar {
    padding: 15px;
  }

  .navbar-nav .nav-item .nav-link {
    padding: 20px 15px;
  }

  .landing-header {
    font-size: 40px;
  }

  .landing-desc {
    margin-left: 15px;
    padding-top: 0px;
    margin-right: 0px;
  }

  .landing-header-2 {
    font-size: 30px;
  }

  .circle {
    margin-bottom: 50px;
  }

  .box-yellow {
    font-size: 20px;
    padding: 15px;
    line-height: 35px;
  }

  .box-inner {
    margin: 7px 14px;
  }

  .title {
    text-align: center;
  }

  .title-2 {
    text-align: center;
  }

  .footer-submenu {
    margin-top: 15px;
  }
}

